# example setup to serve PHP apps via php7.0-fpm package

server {
	listen 80;

	index index.php index.html;
	root /var/www;

	location ~ [^/]\.php(/|$) {
		fastcgi_split_path_info ^(.+?\.php)(/.*)$;
		if (!-f $document_root$fastcgi_script_name) {
			return 404;
		}

		# Mitigate https://httpoxy.org/ vulnerabilities
		fastcgi_param HTTP_PROXY "";

		include fastcgi_params;
		fastcgi_index index.php;
		fastcgi_pass unix:/run/php/php7.0-fpm.sock;

		fastcgi_param  SCRIPT_FILENAME   $document_root$fastcgi_script_name;
	}
}
